.row {
  max-width: 114rem;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: 6rem;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{6rem}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - (2 *#{6rem})) / 3);
  }

  .col-2-of-3 {
    width: calc((200% - #{6rem}) / 3);
  }

  .col-1-of-4 {
    width: calc((100% - (3 *#{6rem})) / 4);
  }

  .col-2-of-4 {
    width: calc((100% - #{6rem}) / 2);
  }

  .col-3-of-4 {
    width: calc((300% - #{6rem}) / 4);
  }
}
